<!-- style.css -->
 <link rel="stylesheet" href="/styles/account-style.css" type="input/css">
 
 <!-------------- navbar --------------->
    <header>
		<div id="flex-header" class="container">
			<div id="logo"><a href="project1.html">
					<p>MacroSmart</p></a>
			</div>
		    
			 <a href="javascript:void(0);" class="icon" onclick="myFunction()">
						 <i class="fa fa-bars">Menu</i>
			</a>
			<nav class="topnav" id="myTopnav">
				<ul> 
					 <li class="link-class"><a href="/signup">Sign Up</a></li>
					 <li class="link-class"><a href="/login">Login</a></li>
				</ul>
			</nav>
	    </div>
    </header>


    <!------------- Form --------------->



    <section class="container px2">
            <div class="mx-auto center">
                <h1>Create Your Account</h1>
                <br> 
            
                  <form action="" method="">
                    
                        <label class="h3" for="first-name">First Name</label><br> <input class="mb2" type="input" style="max-width: 100%;" placeholder="John" id="first-name" name="first-name" size="39" required="" autofocus="" />
                        <br>
    
                        <label class="h3" for="last-name">Last Name</label><br> <input class="mb2" type="input" style="max-width: 100%;" placeholder="Dane" id="last-name" name="last-name" size="39" required="" autofocus="" />
                        <br>
    
                        <label class="h3" for="username">Username</label><br> <input class="mb2" type="input" style="max-width: 100%;" placeholder="Username"  id="username" name="username" size="39" 
                        required="" autofocus=""/>   
                        <br>
    
                         <label class="h3" for="password">Password</label><br> <input  class="mb2" type="password" style="max-width: 100%;" placeholder="Password" id="password" name="password" size="39" 
                         required="" autofocus=""/>
                        <br> 
    
                        <label class="h3" for="confirm-password">Confirm Password</label><br> <input  class="mb2" type="password" style="max-width: 100%;" placeholder="Verify Password" id="confirm-password" name="confirm-password" size="39" 
                        required="" autofocus=""/>
                        <br> 
    
                        <label class="h3" for="email">Email</label><br>  <input type="input" class="mb2" style="max-width: 100%;" placeholder="Email" id="email" name="email" size="39" 
                        required="" autofocus=""/>
                         <br>
    
                        <label class="h3" for="weight">Your Weight in Pounds</label><br> <input class="mb2" type="input" style="max-width: 100%;" placeholder="160" id="weight"  name="weight" size="39"
                        required="" autofocus=""/>   
                        <br>
                        <span class="h3">What's Your Goal?</span><br>
                        <div class="mt1 mb3">
                        <label class="radio-inline mr1"><input type="radio" name="goalOption" value="1" checked>Bulk Up</label>
    
                        <label class="radio-inline ml1"><input type="radio" name="goalOption" value="0">Slim Down</label> 
                        </div>
                         <input type="submit" value="Join!" class="button" id="button"/>
                     </form>
        </div>
    </section>


    <!------------ footer ---------------->
  <footer>
    <div class="px2 py3 container">
        <div class=" center">
            <div class="col col-6">
                <ul class="list-reset">
                    <li>
                        <p class="h3 m0">
                           Contact
                        </p>
                    </li>
                    <li>
                        <a href="#" class="h5 block">macrosapp@something.com </a>
                    </li>
                    <li>
                        <a href="#" class="h5 block">(555) 555-555 </a>
                    </li>
                    <li>
                        <a href="#" class="h5 block"> </a>
                    </li>
                </ul>
            </div>
      
            <div class="col col-6">
                <ul class="list-reset">
                    <li>
                        <p class="h3 m0">
                            Follow us!
                        </p>
                    </li>
                    <li>
                            <a href="#" class="fa fa-facebook"></a>
                              
                            <a href="#" class="fa fa-twitter"></a>

                            <a href="#" class="fa fa-instagram"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

    <!------------ Mobile Menu ---------------->

<script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
</script>

<script>

    firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
        console.log(user)
        console.log("happens in the create account html")
        //console.log(firebase.auth().currentUser)
        window.location = '/members/'+ localStorage.id; 
        window.user = user;
    }
});
</script>

