    <!-- style.css -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css">

    <!-------------- navbar --------------->
    <header>
		<div id="flex-header" class="container">
			<div id="logo"><a href="#">
					<p>MacroSmart</p></a>
			</div>
		    
			 <a href="javascript:void(0);" class="icon" onclick="myFunction()">
						 <i class="fa fa-bars">Menu</i>
			</a>
			<nav class="topnav" id="myTopnav">
				<ul> 
					 <li class="link-class"><a class="navSignup" href="/signup">Sign Up</a></li>
					 <li class="link-class"><a class="navLogin" href="/login">Login</a></li>
				</ul>
			</nav>
	    </div>
    </header>

<!------------- banner --------------->


<section id="banner" class="section-height">
	<div class="container py4">
		<div id="tagline-block" class="col col-6 py4">
			<h1>Tracking your macronutrients intake is now simple.
			</h1>
		</div>
	</div>
</section>

<section class="mobile-tagline container">
	<h1 class="center">Tracking your macronutrients intake is now simple.
	</h1>
</section>

<!------------- Description Section --------------->

<section class="container px2">
	<div class="mxn2">
		<div class="mx-auto px3 center">
			<h2>Want to Gain or Lose Weight?</h2>
			<div class="px6 mb4">
				<h3 class="italic">
					"I want to lose 10 pounds...<br> "I need to eat more protein..."<br>
				</h3>
				<h2>Easy enough to wish for, but far more difficult to achieve.</h2>
				<h1 class="caps bg-blue white italic">We can help</h1>
				<h2>
					This site provides the extra assistance to plan your meals around daily nutritional intake and to monitor your progress towards
					your specific goal. Knowing what you are eating can help to achieve your goals in a way that is
					<span class="h1 bold">
						<span class="red">faster</span>,
						<span class="green">smarter</span>, and
						<span class="blue">healthier</span>.
					</span>
				</h2>
			</div>
		</div>
	</div>
</section>


<!------------ footer ---------------->
<footer>
	<div class="px2 py3 container">
		<div class=" center">
			<div class="col col-6">
				<ul class="list-reset">
					<li>
						<p class="h3 m0">
							Contact
						</p>
					</li>
					<li>
						<a href="#" class="h5 block">macrosapp@something.com </a>
					</li>
					<li>
						<a href="#" class="h5 block">(555) 555-555 </a>
					</li>
					<li>
						<a href="#" class="h5 block"> </a>
					</li>
				</ul>
			</div>

			<div class="col col-6">
				<ul class="list-reset">
					<li>
						<p class="h3 m0">
							Follow us!
						</p>
					</li>
					<li>
						<a href="#" class="fa fa-facebook"></a>

						<a href="#" class="fa fa-twitter"></a>

						<a href="#" class="fa fa-instagram"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!------------ Mobile Menu ---------------->

<script>
	function myFunction() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}
</script>
<script>
	$(".navSignup").on('click', function () {
		$.ajax({
			url: '/signup',
			type: 'GET'
		})
	})
	$(".navLogin").on('click', function () {
		$.ajax({
			url: '/login',
			type: 'GET'
		})
	})  
</script>